In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
%matplotlib inline

In [4]:
pwd

'C:\\Users\\Lowe'

In [9]:
y2015 = pd.read_csv(
    r'C:\Users\Lowe\Documents\Thinkful\Datasets\LoanStats3d.csv',
    skipinitialspace=True,
    header=1
)

In [10]:
y2015.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,68009401,72868139.0,16000.0,16000.0,16000.0,60 months,14.85%,379.39,C,C5,...,0.0,2.0,78.9,0.0,0.0,2.0,298100.0,31329.0,281300.0,13400.0
1,68354783,73244544.0,9600.0,9600.0,9600.0,36 months,7.49%,298.58,A,A4,...,0.0,2.0,100.0,66.7,0.0,0.0,88635.0,55387.0,12500.0,75635.0
2,68466916,73356753.0,25000.0,25000.0,25000.0,36 months,7.49%,777.55,A,A4,...,0.0,0.0,100.0,20.0,0.0,0.0,373572.0,68056.0,38400.0,82117.0
3,68466961,73356799.0,28000.0,28000.0,28000.0,36 months,6.49%,858.05,A,A2,...,0.0,0.0,91.7,22.2,0.0,0.0,304003.0,74920.0,41500.0,42503.0
4,68495092,73384866.0,8650.0,8650.0,8650.0,36 months,19.89%,320.99,E,E3,...,0.0,12.0,100.0,50.0,1.0,0.0,38998.0,18926.0,2750.0,18248.0

In [11]:
categorical = y2015.select_dtypes(include=['object'])
for i in categorical:
    column = categorical[i]
    print(i)
    print(column.nunique())

id
421097
term
2
int_rate
110
grade
7
sub_grade
35
emp_title
120812
emp_length
11
home_ownership
4
verification_status
3
issue_d
12
loan_status
7
pymnt_plan
1
url
421095
desc
34
purpose
14
title
27
zip_code
914
addr_state
49
earliest_cr_line
668
revol_util
1211
initial_list_status
2
last_pymnt_d
25
next_pymnt_d
4
last_credit_pull_d
26
application_type
2
verification_status_joint
3

In [12]:
# Convert ID and Interest Rate to numeric.
y2015['id'] = pd.to_numeric(y2015['id'], errors='coerce')
y2015['int_rate'] = pd.to_numeric(y2015['int_rate'].str.strip('%'), errors='coerce')

# Drop other columns with many unique variables
y2015.drop(['url', 'emp_title', 'zip_code', 'earliest_cr_line', 'revol_util',
            'sub_grade', 'addr_state', 'desc'], 1, inplace=True)

In [13]:
y2015.tail()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,emp_length,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
421092,36271333.0,38982739.0,13000.0,13000.0,13000.0,60 months,15.99,316.07,D,5 years,...,0.0,3.0,100.0,50.0,1.0,0.0,51239.0,34178.0,10600.0,33239.0
421093,36490806.0,39222577.0,12000.0,12000.0,12000.0,60 months,19.99,317.86,E,1 year,...,1.0,2.0,95.0,66.7,0.0,0.0,96919.0,58418.0,9700.0,69919.0
421094,36271262.0,38982659.0,20000.0,20000.0,20000.0,36 months,11.99,664.20,B,10+ years,...,0.0,1.0,100.0,50.0,0.0,1.0,43740.0,33307.0,41700.0,0.0
421095,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
421096,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
y2015 = y2015[:-2]

In [15]:
pd.get_dummies(y2015)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,int_rate,installment,annual_inc,dti,delinq_2yrs,...,last_credit_pull_d_Nov-2016,last_credit_pull_d_Oct-2015,last_credit_pull_d_Oct-2016,last_credit_pull_d_Sep-2015,last_credit_pull_d_Sep-2016,application_type_INDIVIDUAL,application_type_JOINT,verification_status_joint_Not Verified,verification_status_joint_Source Verified,verification_status_joint_Verified
0,68009401.0,72868139.0,16000.0,16000.0,16000.0,14.85,379.39,48000.0,33.18,0.0,...,0,0,0,0,0,1,0,0,0,0
1,68354783.0,73244544.0,9600.0,9600.0,9600.0,7.49,298.58,60000.0,22.44,0.0,...,0,0,0,0,0,1,0,0,0,0
2,68466916.0,73356753.0,25000.0,25000.0,25000.0,7.49,777.55,109000.0,26.02,0.0,...,0,0,0,0,0,1,0,0,0,0
3,68466961.0,73356799.0,28000.0,28000.0,28000.0,6.49,858.05,92000.0,21.60,0.0,...,0,0,0,0,0,1,0,0,0,0
4,68495092.0,73384866.0,8650.0,8650.0,8650.0,19.89,320.99,55000.0,25.49,0.0,...,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
421090,36371250.0,39102635.0,10000.0,10000.0,10000.0,11.99,332.10,31000.0,28.69,0.0,...,0,0,0,0,0,1,0,0,0,0
421091,36441262.0,39152692.0,24000.0,24000.0,24000.0,11.99,797.03,79000.0,3.90,0.0,...,0,0,0,0,0,1,0,0,0,0
421092,36271333.0,38982739.0,13000.0,13000.0,13000.0,15.99,316.07,35000.0,30.90,0.0,...,0,0,0,0,0,1,0,0,0,0
421093,36490806.0,39222577.0,12000.0,12000.0,12000.0,19.99,317.86,64400.0,27.19,1.0,...,0,0,1,0,0,1,0,0,0,0
421094,36271262.0,38982659.0,20000.0,20000.0,20000.0,11.99,664.20,100000.0,10.83,0.0,...,0,0,0,0,0,1,0,0,0,0

In [18]:
from sklearn import ensemble
from sklearn.model_selection import cross_val_score

rfc = ensemble.RandomForestClassifier()
X = y2015.drop('loan_status', 1)
Y = y2015['loan_status']
X = pd.get_dummies(X)
X = X.dropna(axis=1)

print(cross_val_score(rfc, X, Y, cv=10))

C:\Users\Lowe\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\Lowe\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\Lowe\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\Lowe\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\Lowe\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\Lowe\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\Lowe\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\Lowe\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\Lowe\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\Lowe\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

[0.98067013 0.98062264 0.98138254 0.98190497 0.97530278 0.97649014
 0.95331164 0.98045548 0.97974209 0.98050159]

In [27]:
X = y2015.drop('loan_status', 1)
Y = y2015['loan_status']
X = pd.get_dummies(X)
X = X.dropna(axis=1)


rfc.fit(X, Y) 

feature_importances = pd.DataFrame(rfc.feature_importances_,
                                   index = X.columns,
                                    columns=['importance']).sort_values('importance',
                                                                        ascending=False)



pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', -1)
feature_importances

                                                 importance
out_prncp_inv                                  3.086834e-01
last_pymnt_amnt                                1.284172e-01
total_rec_prncp                                8.499166e-02
last_pymnt_d_Jan-2017                          7.423369e-02
out_prncp                                      5.128113e-02
total_pymnt                                    4.099424e-02
next_pymnt_d_Feb-2017                          2.897745e-02
recoveries                                     2.068428e-02
last_pymnt_d_Nov-2016                          1.610113e-02
collection_recovery_fee                        1.599450e-02
loan_amnt                                      1.469238e-02
last_pymnt_d_Dec-2016                          1.398807e-02
last_credit_pull_d_Jan-2017                    1.359669e-02
last_pymnt_d_Oct-2016                          1.343555e-02
total_pymnt_inv                                1.248923e-02
installment                                    1.208191e-02
last_pymnt_d_Sep-2016                          1.044461e-02
funded_amnt                                    8.819648e-03
funded_amnt_inv                                7.382086e-03
last_pymnt_d_Jul-2016                          6.944641e-03
last_credit_pull_d_Oct-2016                    6.200580e-03
last_pymnt_d_Aug-2016                          5.601651e-03
total_rec_int                                  4.988445e-03
last_credit_pull_d_Dec-2016                    4.314370e-03
int_rate                                       4.082222e-03
next_pymnt_d_Jan-2017                          3.941967e-03
member_id                                      3.726721e-03
id                                             3.644863e-03
last_pymnt_d_Jun-2016                          3.460839e-03
last_credit_pull_d_Nov-2016                    2.643447e-03
last_pymnt_d_Feb-2016                          2.632044e-03
total_rec_late_fee                             2.522715e-03
dti                                            2.290189e-03
tot_hi_cred_lim                                2.136253e-03
mo_sin_old_rev_tl_op                           2.119941e-03
revol_bal                                      2.082248e-03
total_bc_limit                                 2.034656e-03
total_rev_hi_lim                               1.994569e-03
avg_cur_bal                                    1.984756e-03
annual_inc                                     1.977291e-03
total_bal_ex_mort                              1.942003e-03
term_ 36 months                                1.873394e-03
tot_cur_bal                                    1.837452e-03
total_il_high_credit_limit                     1.711847e-03
total_acc                                      1.642323e-03
last_pymnt_d_Apr-2016                          1.641241e-03
mo_sin_rcnt_rev_tl_op                          1.566978e-03
acc_open_past_24mths                           1.413441e-03
num_il_tl                                      1.388126e-03
mo_sin_rcnt_tl                                 1.369926e-03
num_bc_tl                                      1.368097e-03
num_sats                                       1.355848e-03
open_acc                                       1.336553e-03
last_pymnt_d_Oct-2015                          1.308125e-03
last_credit_pull_d_May-2016                    1.284740e-03
pct_tl_nvr_dlq                                 1.270866e-03
num_op_rev_tl                                  1.241165e-03
num_bc_sats                                    1.202109e-03
num_actv_bc_tl                                 1.168224e-03
num_actv_rev_tl                                1.137177e-03
num_rev_tl_bal_gt_0                            1.109779e-03
term_ 60 months                                1.101152e-03
num_tl_op_past_12m                             1.072921e-03
mort_acc                                       9.206104e-04
last_pymnt_d_May-2016                          8.588541e-04
tot_coll_amt                                   6.499088e-04
num_accts_ever_120_pd                          6.433214e-04
inq_last_6mths                                 6.421019e-04
delinq_2yrs                                    5.797030e-04
grade_E                                        5.365148e-04
issue_d_Dec-2015                               4.190100e-04
grade_D                                        3.864142e-04
pub_rec                                        3.675289e-04
verification_status_Not Verified               3.610490e-04
verification_status_Source Verified            3.182251e-04
initial_list_status_f                          3.167240e-04
emp_length_10+ years                           3.115936e-04
verification_status_Verified                   3.025999e-04
initial_list_status_w                          3.000457e-04
home_ownership_MORTGAGE                        2.951227e-04
home_ownership_RENT                            2.863250e-04
grade_A                                        2.817209e-04
purpose_other                                  2.783385e-04
issue_d_Jun-2015                               2.774843e-04
title_Debt consolidation                       2.760536e-04
issue_d_Aug-2015                               2.738995e-04
pub_rec_bankruptcies                           2.736449e-04
grade_F                                        2.657853e-04
last_pymnt_d_Mar-2016                          2.652338e-04
purpose_debt_consolidation                     2.632835e-04
grade_C                                        2.592487e-04
issue_d_Jul-2015                               2.575301e-04
num_tl_90g_dpd_24m                             2.565066e-04
title_Credit card refinancing                  2.446632e-04
last_credit_pull_d_Jul-2016                    2.372523e-04
purpose_credit_card                            2.359157e-04
tax_liens                                      2.357862e-04
issue_d_Apr-2015                               2.293792e-04
emp_length_3 years                             2.242064e-04
emp_length_4 years                             2.214229e-04
emp_length_< 1 year                            2.209534e-04
emp_length_2 years                             2.163692e-04
last_credit_pull_d_Aug-2016                    2.155024e-04
home_ownership_OWN                             2.118348e-04
issue_d_May-2015                               2.036111e-04
emp_length_5 years                             2.030747e-04
issue_d_Jan-2015                               1.957380e-04
issue_d_Oct-2015                               1.954687e-04
emp_length_1 year                              1.903372e-04
last_credit_pull_d_Feb-2016                    1.858718e-04
issue_d_Sep-2015                               1.758902e-04
emp_length_7 years                             1.738181e-04
emp_length_8 years                             1.718117e-04
emp_length_9 years                             1.708015e-04
grade_B                                        1.704820e-04
issue_d_Nov-2015                               1.575663e-04
issue_d_Mar-2015                               1.520785e-04
title_Other                                    1.514832e-04
issue_d_Feb-2015                               1.483935e-04
last_pymnt_d_Sep-2015                          1.407520e-04
title_Home improvement                         1.360606e-04
emp_length_6 years                             1.344833e-04
last_pymnt_d_Dec-2015                          1.289155e-04
collections_12_mths_ex_med                     1.221857e-04
purpose_home_improvement                       1.217903e-04
title_Major purchase                           1.079972e-04
purpose_major_purchase                         1.063676e-04
last_credit_pull_d_Sep-2016                    7.150555e-05
last_credit_pull_d_Apr-2016                    6.963435e-05
purpose_moving                                 6.188070e-05
chargeoff_within_12_mths                       6.075392e-05
title_Business                                 6.035326e-05
purpose_small_business                         5.749490e-05
delinq_amnt                                    5.184637e-05
last_credit_pull_d_Jan-2016                    4.771131e-05
grade_G                                        4.525432e-05
title_Car financing                            4.470554e-05
title_Vacation                                 4.403483e-05
purpose_house                                  4.389247e-05
title_Medical expenses                         4.356143e-05
purpose_medical                                3.955926e-05
acc_now_delinq                                 3.878586e-05
purpose_vacation                               3.852256e-05
title_Moving and relocation                    3.750849e-05
last_pymnt_d_Jan-2016                          3.707771e-05
num_tl_30dpd                                   3.499745e-05
title_Home buying                              3.254881e-05
purpose_car                                    2.956250e-05
last_pymnt_d_Jul-2015                          1.883231e-05
last_pymnt_d_Nov-2015                          1.771198e-05
last_credit_pull_d_Jun-2016                    1.695017e-05
last_credit_pull_d_Dec-2015                    1.545234e-05
application_type_JOINT                         1.259451e-05
last_pymnt_d_Jun-2015                          1.225179e-05
title_Green loan                               1.141443e-05
purpose_renewable_energy                       9.332823e-06
last_pymnt_d_Aug-2015                          8.784970e-06
application_type_INDIVIDUAL                    7.668525e-06
last_credit_pull_d_Mar-2016                    7.539330e-06
last_pymnt_d_Mar-2015                          7.444630e-06
verification_status_joint_Not Verified         6.282647e-06
verification_status_joint_Source Verified      6.133236e-06
last_credit_pull_d_Nov-2015                    5.562695e-06
last_credit_pull_d_Sep-2015                    3.779011e-06
title_Prescription Drug and Medical Costs      3.505737e-06
last_credit_pull_d_Aug-2015                    2.472900e-06
last_credit_pull_d_Jun-2015                    2.282250e-06
verification_status_joint_Verified             2.183310e-06
last_credit_pull_d_Apr-2015                    1.970082e-06
next_pymnt_d_Jul-2016                          1.951324e-06
last_credit_pull_d_Jul-2015                    1.883685e-06
next_pymnt_d_Mar-2017                          1.663029e-06
last_pymnt_d_May-2015                          1.233700e-06
last_credit_pull_d_Mar-2015                    9.495443e-07
last_pymnt_d_Jan-2015                          8.021921e-07
last_credit_pull_d_May-2015                    7.719474e-07
purpose_educational                            0.000000e+00
title_DebtC                                    0.000000e+00
title_Credit Card/Auto Repair                  0.000000e+00
last_pymnt_d_Feb-2015                          0.000000e+00
home_ownership_ANY                             0.000000e+00
title_New Baby and New House (CC Consolidate)  0.000000e+00
title_Pay off Lowes Card                       0.000000e+00
last_credit_pull_d_Oct-2015                    0.000000e+00
policy_code                                    0.000000e+00
title_odymeds                                  0.000000e+00
purpose_wedding                                0.000000e+00
title_new kitchen for momma!                   0.000000e+00
last_credit_pull_d_Dec-2014                    0.000000e+00
last_pymnt_d_Apr-2015                          0.000000e+00
title_new day                                  0.000000e+00
pymnt_plan_n                                   0.000000e+00
title_Simple Loan Until Contract Is Completed  0.000000e+00
title_Paying off higher interest cards & auto  0.000000e+00
title_considerate                              0.000000e+00
last_credit_pull_d_Jan-2015                    0.000000e+00
title_Trying to come back to reality!          0.000000e+00
last_credit_pull_d_Feb-2015                    0.000000e+00
title_SAVE                                     0.000000e+00
title_Student Loan                             0.000000e+00
title_Learning and training                    0.000000e+00

In [47]:
#keep the 20 most important variables

In [45]:
X = y2015[['out_prncp_inv', 'last_pymnt_amnt', 'total_rec_prncp', 'last_pymnt_d', 'out_prncp', 'total_pymnt', 'next_pymnt_d',
'recoveries', 'collection_recovery_fee', 'loan_amnt' , 'last_credit_pull_d','total_pymnt_inv', 'installment',  'funded_amnt', 'funded_amnt_inv']]
Y = y2015['loan_status']
X = pd.get_dummies(X)
X = X.dropna(axis=1)

In [46]:
rfc.fit(X, Y) 
cross_val_score(rfc, X, Y, cv=10)

array([0.96525848, 0.97423476, 0.97632448, 0.98088385, 0.96988839,
       0.97589646, 0.97261868, 0.97874564, 0.97154867, 0.98102408])

Even after removing all but 20 variables, the cross validation scores tell me that the model is still accurate.